.button {
	--shadow-offset-y: var(--spacer-rem-100, 0.8rem);
	/* sizing */
	padding: var(--spacer-em-200);
	padding-block-end: calc(var(--spacer-em-200) + var(--shadow-offset-y));
	/* typography */
	font-size: var(--fz-button, inherit);
	font-weight: var(--fw-700, 700);
	text-transform: uppercase;
	text-align: center;
	color: var(--clr-neutral-700);
	/* appearance */
	background-color: var(--bg-button);
	border: none;
	border-radius: var(--borr-300);
	box-shadow: inset 0 calc(var(--shadow-offset-y) * -1) 0 var(--clr-shadow);
	/* other */
	transition: background-color 0.4s ease-in-out;
	cursor: pointer;

	&:is(:hover, :focus, :focus-visible) {
		background-color: var(--bg-button-hover);
	}

	/* modifiers */
	&--primary {
		--bg-button: var(--clr-primary-400);
		--bg-button-hover: var(--clr-primary-300);
		--clr-shadow: var(--clr-primary-500);
	}

	&--secondary {
		--bg-button: var(--clr-secondary-400);
		--bg-button-hover: var(--clr-secondary-300);
		--clr-shadow: var(--clr-secondary-500);
	}

	&--neutral {
		--bg-button: var(--clr-neutral-300);
		--bg-button-hover: var(--clr-neutral-200);
		--clr-shadow: var(--clr-neutral-400);
	}

	&--large {
		--fz-button: var(--fz-450);
	}

	&--medium {
		--fz-button: var(--fz-400);
	}

	&--shadow-small {
		--shadow-offset-y: 0.4rem;
	}
}
