body {
	font-size: var(--fz-400);
	font-family: var(--ff-primary);
	font-weight: var(--fw-400, 400);
	color: var(--clr-neutral-300);
	background-color: var(--clr-neutral-700);
}

main {
	display: grid;
	align-content: center;
	min-height: 100vh;
}
