@use './variables';

@mixin mq($key) {
	$size: map-get(variables.$breakpoints, $key);

	@media only screen and (min-width: $size) {
		@content;
	}
}

@mixin shadow-box($bg-color, $clr-shadow, $shadow-dir: inset, $shadow-offset-y: 0.8rem, $shadow-offset-x: 0) {
	background-color: $bg-color;
	box-shadow: $shadow-dir $shadow-offset-x calc($shadow-offset-y * -1) 0 $clr-shadow;
}

@mixin image-neutral-300-filter() {
	filter: brightness(0) saturate(100%) invert(83%) sepia(22%) saturate(225%) hue-rotate(153deg) brightness(90%)
		contrast(82%); // filter to the color: --clr-neutral-300
}

@mixin image-neutral-700-filter() {
	filter: brightness(0) saturate(100%) invert(11%) sepia(62%) saturate(385%) hue-rotate(157deg) brightness(97%)
		contrast(90%); // filter to the color: --clr-neutral-700
}
