@use '../../abstracts/mixins' as mxn;

.game-board {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: var(--spacer-rem-300);

	&__field {
		--shadow-offset-y: var(--spacer-rem-100, 0.8rem);
		display: grid;
		place-content: center;
		padding: var(--spacer-rem-400);
		width: 100%;
		aspect-ratio: 1 / 1;
		border: none;
		border-radius: var(--borr-250);
		@include mxn.shadow-box(
			var(--clr-neutral-600),
			var(--clr-neutral-800),
			$shadow-offset-y: var(--spacer-rem-100, 0.8rem)
		);
		cursor: pointer;
	}
}
