@use '../../abstracts/mixins' as mxn;

.game-header {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 1fr;
	align-items: center;
	gap: var(--spacer-rem-300);

	/* align logo to the left */
	& > :first-child {
		justify-self: start;
	}

	/* align restart button to the right */
	& > :last-child {
		justify-self: end;
	}

	&__turn-indicator {
		--mark-size: 1.6rem;
		--shadow-offset-y: 0.4rem;
		--y-spacer: 0.9rem;
		--x-spacer: 1.5rem;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		gap: var(--y-spacer);
		/* sizing */
		padding-inline: var(--x-spacer);
		padding-block-start: var(--y-spacer);
		padding-block-end: calc(var(--y-spacer) + var(--shadow-offset-y));
		/* typography */
		font-size: var(--fz-350);
		font-weight: var(--fw-700, 700);
		text-transform: uppercase;
		text-align: center;
		color: var(--clr-neutral-300);
		/* appearance */
		border-radius: var(--borr-100);
		@include mxn.shadow-box(
			var(--clr-neutral-600),
			var(--clr-neutral-800),
			$shadow-offset-y: var(--shadow-offset-y, 0.8rem)
		);
		@include mxn.mq(medium) {
			--mark-size: 2rem;
			--shadow-offset-y: 0.6rem;
			--y-spacer: 1.3rem;
			--x-spacer: 3rem;
		}
	}

	&__mark-icon {
		width: var(--mark-size);
		aspect-ratio: 1 / 1;
		@include mxn.image-neutral-300-filter;
	}

	/* to change padding of .button class */
	&__restart-button {
		padding: var(--spacer-rem-150);
		@include mxn.mq(medium) {
			padding: var(--spacer-rem-200);
		}
	}
}
