@use '../../abstracts/mixins' as mxn;

.game-board {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: var(--spacer-rem-300);

	&__field {
		--bg-shadow-box: var(--clr-neutral-600);
		--clr-shadow: var(--clr-neutral-800);
		--shadow-offset-y: var(--spacer-rem-100, 0.8rem);
		display: grid;
		place-content: center;
		padding: var(--spacer-rem-400);
		width: 100%;
		aspect-ratio: 1 / 1;
		border: none;
		border-radius: var(--borr-250);
		@include mxn.shadow-box(var(--bg-shadow-box), var(--clr-shadow), $shadow-offset-y: var(--spacer-rem-100, 0.8rem));
		cursor: pointer;

		& * {
			pointer-events: none;
		}

		& img {
			display: none;
		}

		/* image state handling start */
		&[data-current-player='x']:not([data-mark]) img[data-name='x-outline-icon'] {
			display: block;
		}

		&[data-current-player='o']:not([data-mark]) img[data-name='o-outline-icon'] {
			display: block;
		}

		&[data-mark='x'] img[data-name='x-icon'] {
			display: block;
		}

		&[data-mark='o'] img[data-name='o-icon'] {
			display: block;
		}
		/* image state handling end */

		&[data-mark='x'][data-game-winning] {
			--bg-shadow-box: var(--clr-primary-400);
			--clr-shadow: var(--clr-primary-500);
		}

		&[data-mark='o'][data-game-winning] {
			--bg-shadow-box: var(--clr-secondary-400);
			--clr-shadow: var(--clr-secondary-500);
		}

		&[data-game-winning] img {
			filter: brightness(0) saturate(100%) invert(11%) sepia(62%) saturate(385%) hue-rotate(157deg) brightness(97%)
				contrast(90%); // filter to the color: --clr-neutral-700
		}
	}
}
