@use '../../abstracts/mixins' as mxn;

.modal {
	--min-height: 22.8rem;
	--layer: 9000;
	--clr-heading: var(--clr-neutral-300);
	/* position */
	position: absolute;
	z-index: var(--layer);
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	/* layout */
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* sizing */
	width: 100%;
	min-height: var(--min-height);
	padding-block: var(--spacer-rem-600);
	/* typography */
	text-transform: uppercase;
	text-align: center;
	/* appearance */
	background-color: var(--clr-neutral-600);
	@include mxn.mq(medium) {
		--min-height: 26.6rem;
	}

	/* showing modal */
	&.active {
		display: flex;
	}

	/* when modal active show the dropshadow */
	&.active + .modal-dropshadow {
		display: block;
		z-index: calc(var(--layer) - 1); // drop shadow just behind the modal
	}

	/* changing heading color depending on who the winner was */
	&[data-winner='o'] {
		--clr-heading: var(--clr-secondary-400);
	}

	&[data-winner='x'] {
		--clr-heading: var(--clr-primary-400);
	}

	/* hide message above the heading when tie */
	&[data-winner='tie'] &__message {
		display: none;
	}

	/* elements */
	&__heading {
		--icon-width: 3rem;
		--gap: var(--spacer-rem-100);
		display: inline-flex;
		align-items: center;
		gap: var(--gap);
		margin-block-end: var(--spacer-rem-400);
		font-size: var(--fz-700);
		font-weight: var(--fw-700, 700);
		color: var(--clr-heading);
		@include mxn.mq(medium) {
			--icon-width: auto;
			--gap: var(--spacer-rem-400);
		}

		& img {
			width: var(--icon-width);
			aspect-ratio: 1;
		}
	}

	&__message {
		margin-block-end: var(--spacer-rem-200);
		font-size: var(--fz-350);
		font-weight: var(--fw-700, 700);
	}
}
