@use '../abstracts/mixins' as mxn;

.game-menu {
	--vertical-spacer: var(--spacer-rem-500, 2em);
	@include mxn.mq(medium) {
		--vertical-spacer: var(--spacer-rem-600, 2.5em);
	}

	&__logo {
		margin-inline: auto;
		margin-block-end: var(--vertical-spacer);
	}
}
